@using BAM.Entities.Concrete
@model List<Book>
@{
    ViewData["Title"] = "GetBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-action="Add" class="btn btn-success">Add New Book</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-2">Image</th>
                <th class="col-md-3">Name</th>
                <th class="col-md-2">Author</th>
                <th class="col-md-2">Status</th>
                <th class="col-md-1">Price</th>
                <th class="col-md-1"></th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-md-1">@item.Id</td>
                    <td class="col-md-2"><img src="@item.Image" style="width:100px;height:150px;" /></td>
                    <td class="col-md-2">@item.Name</td>
                    <td class="col-md-2">@item.Author</td>
                    <td class="col-md-2"><input type="checkbox" class="form-check" disabled checked="@item.Status"/></td>
                    <td class="col-md-1">@item.Price</td>
                    <td class="col-md-1">
                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">EDİT</a>
                    </td>
                    <td class="col-md-1">
                        <a class="btn btn-outline-danger" asp-action="ChangeStatus" asp-route-id="@item.Id">STATUS</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

